{% extends "base_layout.twig" %}
{% block title %}Novo Categoria{% endblock %}
{% block content_header %}
    <section class="content-header">
        <h1>
            Área Administrador
            <small>Novo Categoria</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Novo Categoria</li>
        </ol>
    </section>
{% endblock %}
{% block content %}
    <section class="content">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h1 class="box-title">Dados de Categoria<br><small>*Campos obrigatorios</small></h1>
                </div>
                <form role="form" action="{{base_url}}categoria/adicionar" method="post" onSubmit="return btnCadastrar();">
                    
                    <div class="box-body">
                        
                        <div class="col-xs-12 col-sm-12 col-md-12" id="divNome">
                            <label for="descricao">Descrição*</label>
                            <input type="text" class="form-control" id="descricao" 
                                   name="descricao" placeholder="Digite a categoria" onBlur="verificarNome();">
                        </div>                      
                        
                    </div>
                    
                    <div class="box-footer">
                        <button type="submit" class="btn btn-success">Cadastrar</button>
                        <a href="{{base_url}}categoria/listar">
                        <button type="button" class="btn btn-danger">Cancelar</button></a>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="text/javascript">
        
        function btnCadastrar(){
           return verificarNome();
        }
        
        function verificarNome() {
            var nome = $("#descricao").val();
            if(nome.length === 0) {
                document.querySelector("#divNome").setAttribute('class', 'col-xs-12 col-sm-12 col-md-12 has-error has-feedback');
                document.querySelector("#descricao").focus();
                return false;
            } else {
                document.querySelector("#divNome").setAttribute('class', 'col-xs-12 col-sm-12 col-md-12');
                return true;
            }
            
        }
        
    </script>
{% endblock %}