{% extends "base_layout.twig" %}
{% block title %}Listar Clientes{% endblock %}

{% block content_header %}
    <section class="content-header">
        <h1>
            Área Administrador
            <small>Adicionar Clientes</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Adicionar Clientes</li>
        </ol>
    </section>
{% endblock %}
{% block content %}
    <section class="content">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="box box-primary">

                <div class="box-header with-border">
                    <h3 class="box-title">Dados do usuário</h3>
                </div>

                <form role="form" action="{{base_url}}cliente/adicionar" method="post" class="form-incline">
                    <div class="box-body">        

                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <label for="login">Nome</label>
                            <input type="text" class="form-control" name="nome" 
                                   placeholder="Digite o nome" maxlength="80">
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <label for="email">E-mail</label>
                            <input type="email" class="form-control" name="email" 
                                   placeholder="Digite o email" maxlength="80">
                        </div>

                        <div class="hidden-xs col-sm-4 col-md-4">
                            <label for="cpf_cnpj">CPF/CNPJ</label>
                            <input type="text" class="form-control" id="cpf" name="cpf_cnpj" 
                                   placeholder="Digite o cpf ou cnpj" maxlength="14">
                        </div>

                        <div class="hidden-xs col-sm-4 col-md-4">
                            <label for="data_nascimento">Data de Nascimento</label>
                            <input id="data_nascimento" type="date" class="form-control" name="data_nascimento" 
                                   placeholder="Digite a data de nascimento">
                        </div>    

                        <div class="hidden-xs col-sm-4 col-md-4">
                            <label for="cep">CEP</label>
                            <input type="text" class="form-control" id="cep"  name="cep" 
                                   placeholder="Digite o cep" maxlength="10" onkeyup="getEndereco(event);">
                        </div>   

                        <div class="hidden-xs col-sm-10 col-md-10">
                            <label for="logradouro">Logradouro</label>
                            <input type="text" class="form-control"  name="logradouro" 
                                   placeholder="Digite o logradouro" maxlength="100">
                        </div>

                        <div class="hidden-xs col-sm-2 col-md-2">
                            <label for="numero">Número</label>
                            <input type="text" class="form-control"  name="numero" 
                                   placeholder="Digite o número" maxlength="11">
                        </div>

                        <div class="hidden-xs col-sm-5 col-md-5">
                            <label for="bairro">Bairro</label>
                            <input type="text" class="form-control"  name="bairro" 
                                   placeholder="Digite o bairro" maxlength="40">
                        </div>    

                        <div class="hidden-xs col-sm-5 col-md-5">
                            <label for="cidade">Cidade</label>
                            <input type="text" class="form-control"  name="cidade" 
                                   placeholder="Digite a cidade" maxlength="50">
                        </div>    

                        <div class="hidden-xs col-sm-2 col-md-2">
                            <label for="uf">Estado</label>
                            <input type="text" class="form-control"  name="uf" 
                                   placeholder=" Digite o estado" maxlength="3">
                        </div>

                        <div class="hidden-xs col-sm-12 col-md-12">
                            <label for="complemento">Complemento</label>
                            <input type="text" class="form-control"  name="complemento" 
                                   placeholder="Digite o complemento" maxlength="100">
                        </div>        

                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <label for="telefone_residencial">Telefone</label>
                            <input id="telefone" type="text" class="form-control"  name="telefone_residencial" 
                                   placeholder="Digite o telefone residencial" maxlength="18">
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <label for="celular">Celular</label>
                            <input  id="celular"type="text" class="form-control"  name="celular" 
                                    placeholder="Digite o celular" maxlength="18">
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <label>Observações</label>
                            <textarea class="form-control" name="observacoes" rows="3" placeholder=""></textarea>
                        </div>

                    </div>

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Cadastrar</button>
                    </div>    
                </form>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="text/javascript">
        jQuery(function ($) {
            $("#cep").mask("99999-999");
            $("#cpf").mask("999.999.999-99");
            $("#data_nascimento").mask('99/99/9999');
            $("#telefone").mask("(999) 9999-9999");
            $("#celular").mask("(999) 99999-9999");
        });

        function getEndereco(event) {
            var cep = $("#cep").val();
            var x = event.which || event.keyCode;
            if (cep.match(/\d{5}-\d{3}/) && ((x >= 48 && x <= 57) || (x >= 96 && x <= 105))) {
                $.getJSON("http://api.postmon.com.br/v1/cep/"+cep+"?format=json", function (retorno) {
                    $('input[name=logradouro]').val(retorno.logradouro);
                    $('input[name=bairro]').val(retorno.bairro);
                    $('input[name=cidade]').val(retorno.cidade);
                    $('input[name=uf]').val(retorno.estado);
                });
            }
        }
    </script>
{% endblock %}