{% extends "base_layout.twig" %}
{% block title %}Deletar Usuário{% endblock %}

{% block content_header %}
    <section class="content-header">
        <h1>
            Área Administrador
            <small>Deletar usuário</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Deletar Usuário</li>
        </ol>
    </section>
{% endblock %}
{% block content %}

{% endblock %}  