{% extends "base_layout.twig" %}
{% block title %}Novo Fornecedor{% endblock %}

{% block content_header %}
    <section class="content-header">
        <h1>
            Área Administrador
            <small>Novo Fornecedor</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Novo Fornecedor</li>
        </ol>
    </section>
{% endblock %}
{% block content %}
    <section class="content">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Dados do Fornecedor</h3>
                </div>
                <form role="form" action="{{base_url}}fornecedor/adicionar" method="post" class="form-incline">
                    <div class="box-body">
                        
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <label for="nome">Nome</label>
                            <input type="text" class="form-control" id="nome" name="nome" 
                                   placeholder="Digite o nome" maxlength="80">
                        </div>
                        
                        <div class="hidden-xs col-sm-6 col-md-6">
                            <label for="nomeFantasia">Nome fantasia</label>
                            <input type="text" class="form-control" id="nomeFantasia" name="nomeFantasia" 
                                   placeholder="Digite o Nome fantasia" maxlength="80">
                        </div>
                        
                        <div class="col-xs-12 col-sm-3 col-md-3">
                            <label for="cnpj">CPF/CNPJ</label>
                            <input type="text" class="form-control" id="cnpj" name="cnpj" 
                                   placeholder="Digite o cnpj" maxlength="18">
                        </div>
                        
                        <div class="col-xs-12 col-sm-3 col-md-3">
                            <label for="ie">Inscrição estadual</label>
                            <input type="text" class="form-control" id="ie" name="ie" 
                                   placeholder="Digite a Inscrição estadual" maxlength="18">
                        </div>
                        
                        <div class="col-xs-12 col-sm-3 col-md-3">
                            <label for="dataFundacao">Data de fundação</label>
                            <input type="date" class="form-control" id="dataFundacao" name="dataFundacao" 
                                   placeholder="Digite a data de fundação">
                        </div>
                        
                        <div class="hidden-xs col-sm-3 col-md-3">
                            <label for="cep">CEP</label>
                            <input type="text" class="form-control" id="cep" name="cep" 
                                   placeholder="Digite o CEP" maxlength="10">
                        </div>
                        
                        <div class="hidden-xs col-sm-9 col-md-9">
                            <label for="logradouro">Logradouro</label>
                            <input type="text" class="form-control" id="logradouro" name="logradouro" 
                                   placeholder="Digite o Logradouro" maxlength="100">
                        </div>
                        
                        <div class="hidden-xs col-sm-3 col-md-3">
                            <label for="numero">Numero</label>
                            <input type="text" class="form-control" id="numero" name="numero" 
                                   placeholder="Digite o número" maxlength="11">
                        </div>
                        
                        <div class="hidden-xs col-sm-6 col-md-6">
                            <label for="complemento">Complemento</label>
                            <input type="text" class="form-control" id="complemento" name="complemento" 
                                   placeholder="Digite o complemento" maxlength="100">
                        </div>
                        
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <label for="email">E-mail</label>
                            <input type="email" class="form-control" id="email" name="email" 
                                   placeholder="Digite o email" maxlength="30">
                        </div> 
                        
                        <div class="hidden-xs col-sm-3 col-md-3">
                            <label for="bairro">Bairro</label>
                            <input type="text" class="form-control" id="bairro" name="bairro" 
                                   placeholder="Digite o bairro" maxlength="40">
                        </div>
                        
                        <div class="hidden-xs col-sm-3 col-md-3">
                            <label for="cidade">Cidade</label>
                            <input type="text" class="form-control" id="cidade" name="cidade" 
                                   placeholder="Digite a cidade" maxlength="50">
                        </div>
                        
                        <div class="hidden-xs col-sm-3 col-md-3">
                            <label for="uf">UF</label>
                            <select class="form-control" name="uf">
                                {% for UF in UFS %}
                                    <option value="{{ UF }}">{{ UF }}</option>
                                {% endfor %}
                            </select>                        
                        </div>
                            
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <label for="telFixo">Telefone Fixo</label>
                            <input type="text" class="form-control" id="telFixo" name="telFixo" 
                                   placeholder="Digite o telefone fixo" maxlength="18">
                        </div>
                            
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <label for="telCel">Celular</label>
                            <input type="text" class="form-control" id="telCel" name="telCel" 
                                   placeholder="Digite o celular" maxlength="18">
                        </div>
                            
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <label for="obs">Observações</label>
                            <textarea class="form-control" id="obs" name="obs" 
                                      placeholder="Observações"></textarea>                            
                        </div>                        
                            
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Cadastrar</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="text/javascript">
        jQuery(function ($) {
            $("#cep").mask("99999-999");
            $("#cnpj").mask("99.999.999/9999-99");
            $("#dataFundacao").mask('99/99/9999');
            $("#telFixo").mask("(999) 9999-9999");
            $("#telCel").mask("(999) 99999-9999");
        });
    </script>
{% endblock %}