{% extends "base_layout.twig" %}
{% block title %}Despesa Geral{% endblock %}

{% block content_header %}
    <section class="content-header">
        <h1>
            Área Administrador
            <small>Novo Categoria</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Novo Categoria</li>
        </ol>
    </section>
{% endblock %}

{% block content %}
    <section class="content">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h1 class="box-title">Dados de Despesa<br><small>*Campos obrigatorios</small></h1>
                </div>
                <form class="form-horizontal" role="form" action="{{base_url}}despesageral/adicionar" method="post" 
                      onSubmit="return btnCadastrar();">
                    
                        <div id="box"></div>
                        <div class="box-body">
                            
                            <div class="form-group">
                                <div class="col-xs-12 col-sm-6 col-md-6" id="divCategoria">
                                    <label for="descricao">Categoria</label>
                                    <input type="text" class="form-control" id="categoria" name="categoria">
                                </div>
                            
                                <div class="col-xs-12 col-sm-6 col-md-6" id="divStatus">
                                    <label for="descricao">Status</label>
                                    <input type="text" class="form-control" id="status" name="status">
                                </div>
                            </div>    
                            
                            <div class="form-group">
                                <div class="col-xs-12 col-sm-4 col-md-4" id="divCriacao">
                                    <label for="descricao">Data de Criação</label>
                                    <input type="text" class="form-control" id="criacao" name="criacao">
                                </div>
                            
                                <div class="col-xs-12 col-sm-4 col-md-4" id="divVencimento">
                                    <label for="descricao">Data de Vencimento</label>
                                    <input type="text" class="form-control" id="vencimento" name="vencimento">
                                </div>
                            
                                <div class="col-xs-12 col-sm-4 col-md-4" id="divPagamento">
                                    <label for="descricao">Data de Pagamento</label>
                                    <input type="text" class="form-control" id="pagamento" name="pagamento">
                                </div>
                            </div>    
                            
                            <div class="form-group">
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <label>Observações</label>
                                    <textarea class="form-control" name="observacoes" rows="3"></textarea>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <div class="col-xs-12 col-sm-4 col-md-4" id="divValorVenda">
                                <label for="valorVenda">Valor Venda</label>
                                <input type="text" class="form-control" id="valorVenda" 
                                   name="valorVenda" placeholder="" value="0" placeholder="0.00">
                                </div>
                            </div>    
                            
                        </div>
                    
                    <div class="box-footer">
                        <button type="submit" class="btn btn-success">Cadastrar</button>
                        <a href="{{base_url}}despesageral/listar">
                        <button type="button" class="btn btn-danger">Cancelar</button></a>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="text/javascript">
        
        function btnCadastrar(){
           return true;
        }
        
    </script>
{% endblock %}